*{
    
    font-family: 'poppins' sans-serif;
}
.nav{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    height:8rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    background-color: grey;

}
.cardWrapper{
    width: 100%;
    max-width: 75rem;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    cursor: -webkit-grab;
}
.imgG{
    
    text-align: center;
    color: white;
    object-fit: cover;
    
}
.login{
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    margin-left: 3rem;
}
.ss{

    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.search{
    
    width: 50vw;
    max-width: 30rem;
    height: 2rem;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    background-color: white;
    
    
}
.card-img-top{
    width: 20rem;
    height: 30vh;
}


