*{
    
    font-family: 'poppins' sans-serif;
}
.nav{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    height:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background-color: grey;

}
.cardWrapper{
    width: 90%;
    max-width: 75rem;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.card{
    cursor: -webkit-grab;
    
    
    overflow: hidden;
}
.imgG{
    
    text-align: center;
    color: white;
    object-fit: cover;
    
    
}
.s{
    display: flex;
}
.login{
    
    width: 5rem;
    height: 2rem;
    border: none;
    margin: 0 auto;
    margin-right: 1rem;
    justify-content: end;
    align-items: end;
    text-align: end;
    border-radius: 3px;
    align-items: center;
    
    
    }

.log{
    
    margin: 0 auto;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    
    

}
.ss{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    text-align: center;
    
}


.search{
    
    width: 50vw;
    max-width: 30rem;
    height: 2rem;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    border: none;
    font-weight: 500;
    background-color: white;
    
    
}
.card-img-top{
    object-fit: cover;
    width: 20rem;

    height: 30vh;
}


